<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rollpay.mapper.TimecardMapper">

    <update id="update" parameterType="com.example.rollpay.entity.Timecard">
        update timecard
        <set>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>
